html, body {
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #52525B;
}

.mb-16, p, h5, .h5,
h6, .h6, h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  margin-bottom: 1rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Inter", sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 700;
}

h5, .h5,
h6, .h6 {
  font-weight: 600;
  letter-spacing: 2%;
}

.text-styled {
  position: relative;
  z-index: 10;
  display: inline;
}
.text-styled::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  background-color: #E0F2C5;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  z-index: -1;
}

p {
  font-size: 1rem;
  line-height: 150%;
  margin-top: 0px;
}

.display-1 {
  font-size: 4.6875rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 110%;
  margin-top: 0px;
}

.text-primary {
  color: #84CC16;
}

.text-secondary {
  color: #F2994A !important;
}

.bg-primary {
  background-color: #84CC16;
}

.bg-secondary {
  background-color: #F2994A;
}

.secondary-link {
  display: block;
  color: #F2994A;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  margin-top: 16px;
}
.secondary-link:hover {
  color: #F2994A;
  text-decoration: underline;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.secondary-link .right-arrow {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  margin-left: 8px;
}
.secondary-link:hover .right-arrow {
  padding-left: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.spinner {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: spinner 2s linear infinite;
          animation: spinner 2s linear infinite;
}

.section, section {
  width: 100%;
  max-width: 100%;
  padding-left: 45px;
  padding-right: 45px;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: 0rem;
}

/* ====== Menu | Navbar ======= */
#menu {
  background-color: #ffffff;
}
#menu.bg-secondary-100 {
  background-color: #FEF5ED !important;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
#menu .brand-logo {
  width: 50px;
}
#menu nav {
  height: 80px;
}
#menu nav .navbar-toggler, #menu nav .sidebar .btn-close {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
#menu nav .navbar-nav .nav-item, #menu nav .navbar-nav .nav-item .nav-link {
  color: #52525B !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}
#menu nav .navbar-nav .nav-item.active, #menu nav .navbar-nav .nav-item .active.nav-link {
  color: #84CC16 !important;
}
#menu nav .navbar-nav .nav-item .nav-link {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}
#menu nav .navbar-nav .nav-item .nav-link:hover {
  color: #84CC16 !important;
}
#menu nav .sidebar {
  display: none;
}
main .body-bg-dotted-1 {
  position: absolute;
  content: "";
  right: 0;
  top: 26%;
  z-index: 0;
  max-width: 60px;
  width: 100%;
  height: auto;
  opacity: 0.8;
}
main .body-bg-circle-1 {
  position: absolute;
  content: "";
  left: -50px;
  top: 34%;
  z-index: 0;
  max-width: 100px;
  width: 100%;
  height: auto;
  opacity: 0.2;
}

/* ====== Banner Section ======= */
#intro {
  overflow: hidden;
}
#intro .container .row {
  min-height: 650px;
}
#intro .container .row .text-module {
  z-index: 3;
}
#intro .container .row .description {
  max-width: 546px;
}
#intro .container .row .banner-img {
  width: 100%;
  max-width: 450px;
  z-index: 3;
}
#intro .container .row .circle-svg {
  width: 100%;
  height: auto;
  z-index: 2;
  -webkit-animation-name: CircleScaling;
  animation-name: CircleScaling;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#intro .container img:not(.banner-img) {
  z-index: 1;
  position: absolute;
}
#intro .container img.dotted-svg {
  top: 50px;
  left: 42%;
}
#intro .container img.dotted-secondary-svg2 {
  left: -50px;
  bottom: 20px;
}
#intro .container img.plus-secondary-svg {
  bottom: 148px;
  left: 30px;
  opacity: 0.7;
}
#intro .container img.plus-primary-svg {
  top: 30%;
  left: 45%;
  opacity: 0.7;
}
#intro .container img.dotted-primary-svg {
  right: -8%;
  top: 25%;
  opacity: 0.7;
}
#intro .container img.circle-primary-sm-svg {
  right: -100px;
  bottom: 60px;
  opacity: 0.7;
}
#intro .container img.circle-outline-secondary-svg {
  top: 67%;
  left: 39%;
  opacity: 0.7;
}
#intro .container img.circle-outline-secondary-svg2 {
  left: 62%;
  top: 13%;
  opacity: 0.7;
}
#intro .container img.rect-outline-secondary-svg {
  left: 6%;
  top: 11%;
  opacity: 0.7;
}
#intro .container img.rect-outline-secondary-svg2 {
  right: 0%;
  top: 18%;
  opacity: 0.7;
}
#intro .container img.rect-outline-primary-svg {
  bottom: 80px;
  left: 40%;
  opacity: 0.7;
}

/* ====== company Section ======= */
/* ====== About Section ======= */
#about .row .about-me-img {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
#about .row .objective {
  max-width: 600px;
}
#about .row .my-interest .media-container,
#about .row .my-journey .media-container {
  max-width: 320px;
}
#about .row .my-interest .icon-span,
#about .row .my-journey .icon-span {
  height: 40px;
  width: 40px;
  border: 1px dotted #52525B;
  font-size: 18px;
}

/* ====== skill Section ======= */
#skill {
  overflow: hidden;
  position: relative;
}
#skill .bg-img {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
#skill .bg-img .fa-react {
  color: #FCE5D2;
  font-size: 55rem;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation-name: spinner;
          animation-name: spinner;
}
#skill .card {
  border: none;
  background-color: transparent;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#skill .card .view {
  color: #71717A;
  min-height: 180px;
  border-radius: 12px;
  background-color: #E0F2C5;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#skill .card .view .fa-react,
#skill .card .view .fa-brush,
#skill .card .view .fa-shapes {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#skill .card .view .fa-brush {
  -webkit-animation-duration: 2.5s !important;
          animation-duration: 2.5s !important;
}
#skill .card .card-body {
  padding-top: 24px;
  width: calc(100% - 4rem);
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#skill .card .card-body ul li {
  font-size: 15px;
  margin-bottom: 8px;
  color: #71717A;
}
#skill .card .card-body ul li::marker {
  height: 10px;
}
#skill .card .card-footer {
  width: calc(100% - 4rem);
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  background-color: #E0F2C5;
  border-top: 0px;
  padding: 0px;
  height: 20px;
}
#skill .card .fa-react {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation-name: spinner;
          animation-name: spinner;
}
#skill .card .fa-brush {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation-name: updown;
          animation-name: updown;
}
#skill .card .fa-shapes {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation: 6s ease 0.25s infinite normal both running wobble-hor-bottom;
          animation: 6s ease 0.25s infinite normal both running wobble-hor-bottom;
}

/* ====== Portfolio Section ======= */
#education .tab-content .tab-pane .card {
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: none;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#education .tab-content .tab-pane .card .bg-circle {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(72%, -50%);
          transform: translate(72%, -50%);
  z-index: 1;
}
#education .tab-content .tab-pane .card .card-body {
  z-index: 10;
}
#education .tab-content .tab-pane .card .card-body .school-name {
  margin-bottom: 4px;
}
#education .tab-content .tab-pane .card .card-body .school-description {
  max-width: 90%;
  width: 100%;
}
#education .tab-content .experiences-content .card .header .right {
  padding-top: 8px;
  text-align: right;
  width: 111px;
}

/* ====== Portfolio Section ======= */
#portfolio .media {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: #E0F2C5;
  background-image: linear-gradient(135deg, #F3FAE8, #FEF5ED);
  height: 100%;
}
#portfolio .media .media-text-module {
  max-width: 238px;
  width: 100%;
}
#portfolio .media:hover {
  -webkit-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1) !important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* ====== Testimonial Section ======= */
#testimonial {
  overflow: hidden;
  position: relative;
}
#testimonial .testimonial-bg-circle {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
#testimonial .testimonial-slider .item .media {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 56px 40px;
}
#testimonial .testimonial-slider .item .media .img-container img {
  height: 210px;
  width: 200px;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonial .testimonial-slider .item .media hr {
  margin-right: auto;
  border-top: 2px solid #A1A1AA;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* ====== Contact Section ======= */
#contact .media {
  border-radius: 8px;
  max-width: 382px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #84CC16;
  cursor: pointer;
}
#contact .media:hover {
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#contact .media .icon-span {
  font-size: 2.5rem;
  color: #84CC16 !important;
}

/* ====== Footer Section ======= */
/* ====== Footer ======= */
#footer .footer-title {
  font-size: 2.5rem;
}
#footer .footer-links-module .nav-link:hover {
  color: #84CC16;
}
#footer .footer-social-links-module .nav-link {
  font-size: 1.2rem;
  padding: 8px;
}
#footer .footer-social-links-module .nav-link:hover {
  color: #84CC16;
}

/* ======== Animations Keyframes ======== */
@keyframes CircleScaling {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes CircleScaling {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* ==== spinner ==== */
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* ==== updown ==== */
@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* ==== wobble-hor-bottom ==== */
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  50% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  70% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  85% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  50% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  70% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  85% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
/* ======== Media Queries ======== */
@media (min-width: 1025px) {
  .section, section {
    padding-left: 45px;
    padding-right: 45px;
  }
  /* ====== Footer Section ======= */
  #footer .footer-title {
    font-size: 3rem;
  }
}
@media (min-width: 1441px) {
  #intro .container .row {
    min-height: 800px !important;
  }
  #intro .container .row .banner-img {
    max-width: 450px;
  }
  #intro .container .row .circle-svg {
    width: 90%;
  }
}
@media (max-width: 1440px) {
  .section, section {
    padding-left: 45px;
    padding-right: 45px;
  }
  .display-1 {
    font-size: 3.6875rem;
  }
  h4 {
    font-size: calc(1.275rem + 0.2vw);
  }
  /* ====== Banner Section ======= */
  #intro .container .row .banner-img {
    max-width: 350px;
  }
  #intro .container .row .description {
    max-width: 465px;
    font-size: 1rem;
  }
  #intro .container .row .circle-svg {
    width: 90%;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  #intro .container img.plus-secondary-svg {
    bottom: 65px;
    left: 30px;
  }
  #intro .container img.plus-primary-svg {
    top: 40%;
    left: 45%;
  }
  #intro .container img.circle-outline-secondary-svg2 {
    left: 53%;
    top: 13%;
  }
  #intro .container img.rect-outline-secondary-svg {
    max-width: 30px;
    left: 0%;
    top: 90px;
  }
  #intro .container img.rect-outline-secondary-svg2 {
    max-width: 40px;
  }
  #intro .container img.rect-outline-primary-svg {
    max-width: 40px;
    bottom: 80px;
    left: 98%;
  }
}
@media (max-width: 1024px) {
  .section, section {
    padding-left: 32px;
    padding-right: 32px;
  }
  /* ====== Banner Section ======= */
  #intro .container .row .banner-img {
    max-width: 380px;
  }
  #intro .container .row .description {
    max-width: 465px;
    font-size: 1rem;
  }
  #intro .container .row .circle-svg {
    width: 95%;
    left: 2%;
  }
  #skill .card .card-body {
    width: calc(100% - 1rem);
  }
  #skill .card .card-footer {
    width: calc(100% - 1rem);
  }
}
@media (max-width: 991px) {
  /* ====== Menu | Navbar ======= */
  #menu {
    background-color: #ffffff;
  }
  #menu.bg-secondary-100 {
    background-color: #FEF5ED !important;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  #menu .brand-logo {
    width: 40px;
  }
  #menu nav {
    height: auto;
  }
  #menu nav .navbar-collapse {
    display: none;
  }
  #menu nav .sidebar {
    display: block;
  }
  .sidebar .offcanvas-header,
.sidebar .offcanvas-body,
.section, section {
    padding-left: 32px;
    padding-right: 32px;
  }
  /* ====== Banner Section ======= */
  #intro {
    padding-top: 120px;
  }
  #intro .container .row {
    height: auto !important;
  }
  #intro .container .row .text-module {
    text-align: center;
  }
  #intro .container .row .banner-img {
    max-width: 420px;
    margin-top: 32px;
  }
  #intro .container .row .description {
    max-width: 465px;
    font-size: 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #intro .container .row .circle-svg {
    width: 60%;
    left: 20%;
  }
  #intro .container img.circle-outline-secondary-svg2 {
    left: 14%;
    top: 42%;
  }
  #intro .container img.plus-primary-svg {
    top: 48%;
    left: 82%;
  }
  /* ====== skill ======= */
  #skill .card .card-body {
    width: calc(100% - 2rem);
  }
  #skill .card .card-footer {
    width: calc(100% - 2rem);
  }
  /* ====== Testimonial Section ======= */
  #testimonial .testimonial-bg-circle {
    -webkit-transform: translate(70%, -50%);
            transform: translate(70%, -50%);
  }
  /* ====== Footer ======= */
  #footer .footer-title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  #menu .brand-logo {
    width: 35px;
  }
  .sidebar .offcanvas-header,
.sidebar .offcanvas-body,
.section, section {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ====== Banner Section ======= */
  #intro .container .row {
    height: auto !important;
  }
  #intro .container .row .text-module {
    text-align: center;
  }
  #intro .container .row .banner-img {
    max-width: 420px;
    margin-top: 32px;
  }
  #intro .container .row .description {
    max-width: 465px;
    font-size: 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #intro .container .row .circle-svg {
    width: 80%;
    left: 10%;
  }
  #intro .container img.circle-outline-secondary-svg2 {
    left: 14%;
    top: 42%;
  }
  #intro .container img.plus-primary-svg {
    top: 48%;
    left: 82%;
  }
  #about .row .download-btn {
    display: none;
  }
  #about .row .objective {
    max-width: 100%;
  }
  #contact .media {
    max-width: 100%;
  }
  /* ====== Portfolio Section ======= */
  #portfolio .media .media-text-module {
    max-width: 220px;
    margin-left: 32px;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  #portfolio .media .flex-grow-1 {
    margin-left: 8px;
  }
}
@media (max-width: 575px) {
  /* ====== Banner ======= */
  #intro .container .row .circle-svg {
    display: none;
  }
  /* ====== Portfolio Section ======= */
  #portfolio .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #portfolio .media .media-text-module {
    width: auto;
    max-width: 100%;
    margin-left: 0px;
    padding: 2rem;
    margin-bottom: 0px;
  }
  #portfolio .media .flex-grow-1 {
    margin-left: 0px;
  }
  /* ====== education Section ======= */
  #education .nav-pills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #education .nav-pills button {
    padding-left: 24px;
    padding-right: 24px;
  }
  #education .tab-content .tab-pane .row .col-12:last-child {
    margin-bottom: 0px;
  }
  /* ====== Testimonial Section ======= */
  #testimonial .testimonial-bg-circle {
    -webkit-transform: translate(70%, -50%);
            transform: translate(70%, -50%);
  }
  #testimonial .testimonial-slider .item .media {
    padding: 40px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #testimonial .testimonial-slider .item .media .img-container img {
    height: 150px;
    width: 150px;
    margin-bottom: 16px;
  }
  #testimonial .testimonial-slider .item .media hr {
    margin-right: auto;
    margin-left: auto;
  }
  /* ====== Contact Section ======= */
  #contact .media {
    max-width: 100%;
  }
}